# @package __global__

# This is the training loop solver
# for the base MusicGen model (text-to-music)
# on monophonic audio sampled at 32 kHz
defaults:
  - beatmapgen/default
  - /model: lm/beatmapgen_lm
  # - override /dset: audio/default
  # - override /model/lm/model_scale: xsmall
  - override /dset: audio/bs_rank
  - _self_

autocast: true
autocast_dtype: float16

# EnCodec large trained on mono-channel music audio sampled at 32khz
# with a total stride of 640 leading to 50 frames/s.
# rvq.n_q=4, rvq.bins=2048, no quantization dropout
# (transformer_lm card and n_q must be compatible)
compression_model_checkpoint: //pretrained/facebook/encodec_32khz

channels: 1
sample_rate: 32000

deadlock:
  use: true  # deadlock detection

dataset:
  batch_size: 2  # 32 GPUs
  segment_duration: 30 # 1536个八分音符
  sample_on_weight: false  # Uniform sampling all the way
  sample_on_duration: false  # Uniform sampling all the way
  valid:
    num_samples: 2
  generate:
    num_samples: 4
  evaluate:
    num_samples: 0
  num_workers: 2


evaluate:
  metrics:
    kld: false

metrics:
  kld:
    use_gt: false
    model: passt
    passt:
      pretrained_length: 20

generate:
  every: 6
  lm:
    use_sampling: true
    top_k: 4
    top_p: 0.0
  

optim:
  epochs: 48
  updates_per_epoch: 200
  optimizer: dadam
  lr: 0.1
  ema:
    use: true
    updates: 10
    device: cuda

logging:
  log_tensorboard: true

schedule:
  lr_scheduler: cosine
  cosine:
    warmup: 100
    lr_min_ratio: 1e-5
    cycle_length: 0.5

tensorboard:
  name: debug_test
